/* style.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f9e8; /* Warna latar belakang hijau muda */
}

header {
    background-color: rgb(108, 162, 157); /* Warna header hijau */
    padding: 20px;
    text-align: center;
    font-size: 50px;
}

header h1 {
    color: #fff; /* Warna teks putih untuk header */
    
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #fff; /* Warna teks putih untuk tautan */
    text-decoration: none;
    font-size: 30px;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
}

section {
    background-color: #fff; /* Warna latar belakang putih untuk bagian */
    padding: 20px;
    margin-bottom: 20px;
    font-size: 25px;
}

section.user {
    border: 2px solid rgb(108, 162, 157); /* Garis tepi dengan warna hijau */
    
}

.btn {
    background-color: rgb(108, 162, 157); /* Warna tombol hijau */
    color: #fff; /* Warna teks putih untuk tombol */
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background-color: rgb(108, 162, 157); /* Warna tombol yang lebih gelap saat hover */
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: rgb(108, 162, 157); /* Warna header tabel hijau */
    color: white;
}

footer {
    background-color: rgb(108, 162, 157); /* Warna footer hijau */
    color: #fff; /* Warna teks putih untuk footer */
    padding: 20px;
    text-align: center;
    font-size: 20px;
}
