body{
    min-height: 100vh;
    width: 100%;
    background: rgb(108, 162, 157);
}
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    width: 100%;
    background: #fff;
    border-radius: 7px;
    box-shadow: 0 5px 10px  rgb(15, 15, 15) ;
}
}