/* Reset CSS */
body, h1, h2, p {
    margin: 0;
    padding: 0;
}

/* Globals styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

/* Header Styles */
.header {
    background-image: url(Ilustrasi-oleh-iBerita-ID.jpg);
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 100px 0;
    background-size: cover;
}

.header h1 {
    font-size: 36px;
    margin-bottom: 20px;
}
.header p {
    font-size: 80px;
    margin-bottom: 40px;
}

.btn {
    display: inline-block;
    padding: 18px 20px;
    background-color: rgb(4, 48, 38);
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    font-size: 30px;
}

.btn:hover {
    background-color: rgb(8, 109, 86);
}

/* Features Styles */
.features {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 40px 0;
}

.feature3 {
    flex: 1 1 calc(33.333% - 40px); /* 3 kotak per baris */
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 100px;
}

.feature3 h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.feature3 p {
    font-size: 16px;
}

.home-btn {
    display: inline-block;
    font-size: 20px;
    padding: 20px 40px;
    background: #ffffffbf;
    color: #101010;
    border-radius: 4px;
    transition: ease 0.4s;
}

.home-btn:hover {
    background: var(--bg-color);
    transform: scale(1.1);
}

/* Footer styles */
.footer1 {
    background-color: rgb(217, 236, 234);
    color: #101010;
    text-align: center;
    padding: 20px 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(4, 48, 38);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: solid;
}

li a:hover {
    background-color: rgb(194, 221, 217);
}

li {
    display: inline;
    margin-right: 10px 0;
    float: left;
}

a {
    color: #fff;
    text-decoration: double;
}

/* Header Styles */
.header2 {
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(halaman2.jpg);
    color: #f3f3f3;
    text-align: center;
    padding: 200px; 
    background-repeat: no-repeat;
    background-size: cover; 
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
}

.footer1 {
    background-color: rgb(217, 236, 234);
    color: #101010;
    text-align: center;
    padding: 20px 0;
}
